@page
@model CompuMantenance.App.Frontend.Pages.ListModelListaClientes
@{
    ViewData["Title"] = "Detalle Cliente";
}

<h1>@ViewData["Title"]</h1>

<h1 class = "mt-3 bg-secondary text-light text-center rounded">Detalle cliente</h1>

<p></p>
