@page
@model CompuMantenance.App.Frontend.Pages.ListModelClientes
@{
}

<h1 class = "bg-secondary text-light text-center rounded">Registro de Clientes</h1>
<form>
  <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <label class="form-label" for="form3Example1">Nombres</label>
        <input type="text" id="form3Example1" class="form-control" />        
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <label class="form-label" for="form3Example2">Apellidos</label>
        <input type="text" id="form3Example2" class="form-control" />        
      </div>
    </div>
  </div>

  <!-- Numero telefonico -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example3">Numero Telefonico</label>
    <input type="text" id="form3Example3" class="form-control" />    
  </div>

  <!-- Direccion-->
  <div class="form-outline mb-4">
    <label class="form-label" for="form3Example3">Direccion</label>
    <input type="text" id="form3Example3" class="form-control" />    
  </div>


  <!-- Checkbox -->
  <div class="form-check d-flex justify-content-center mb-4">
    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
    <label class="form-check-label" for="form2Example33">
      Acepto los términos
    </label>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Registrar</button>
</form>



